body {
    margin-top: 0;
    padding: 0;
}

#main-container {
    display: flex;
}

#nav-child {
    padding: 1rem;
    margin-right: 1rem;
    border-right: 2px solid black;
    height: 100vh;
    position: fixed;

}

#main-child {
    position: relative;
    left: 13rem;
    padding-top: 2rem;
}

.nav-link {
    display:block;
}

@media only screen and (max-width: 720px) {
    p {
        font-size: small;
    }
}