html {
    font-size: 20px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

header {
    font-size: 1.4rem;
}

pre {
    display: inline;
}

body {
    margin: 0;
    padding: 0;
}

p {
    padding-left: 0.7rem;
    font-size: 0.8rem;
    color: rgba(00,00,00,60%);
    line-height: 1.2rem;
}

#main-container {
    display: flex;
}

#header-title {
    padding: 0rem 1rem 1rem 1rem;
}

.blue {
    color: rgb(0, 81, 255);
}

.green {
    color: green;
}
/*main text area*/

#main-child {
    position: relative;
    padding-left: 19rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

/*Nav styling*/
#nav-child {
    padding-top: 1rem;
    border-right: 2px solid grey;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

.nav-link {
    display:block;
    font-weight: lighter;
    color: grey;
    text-decoration: none;
    border-top: 2px solid grey;
    padding: 0.6rem 1.1rem;
}

code {
    display: block;
    background-color: #eeeeee;
    font-size: 0.8rem;
    width:97%;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 8px;
}

.comment {
    color: grey;
}

li {
    font-size: 0.7rem;
    color: rgba(00,00,00,60%);
}

@media only screen and (max-width: 720px) {
    p {
        font-size: small;
    }
}